.header-left {
    float: left;
}

.header-right {
    float: right;
}

a {
    text-decoration: none;
    color: black;
}

#signin {
    color:white;
    background-color: blue;
    border: black;
    padding: 10px;
}
nav {
    margin-bottom: 200px;
}

#google {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    white-space: nowrap;
}

.searchbar {
    text-align: center;
    padding-top: 20px;
    margin-left: 60px;
}

#search {
    text-align: left;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding-left: 50px;
}

#mag {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    right: 250px;
}


