.header-left {
    float: left;
    margin-left: 10px;
}

.header-right {
    float: right;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

#signin {
    color:white;
    background-color: blue;
    border: black;
    padding: 10px;
}
header nav {
    margin-top: 10px;
    margin-bottom: 200px;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    white-space: nowrap;
}

#google {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchbar {
    text-align: center;
    padding-top: 20px;
    margin-left: 40px;
}

#search {
    font-size: 16px;
    height: 42px;
    width: 460px;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding-left: 45px;
}

#mag {
    position: relative;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 500px;
}

#mic {
    position: relative;
    width: 15px;
    height: 20px;
    top: 5px;
    right: 75px;
}

#button1 {
    text-align: center;
    border: hidden;
    height: 36px;
    width: 120px;
    margin-top: 30px;
    margin-right: 10px;
    position: relative;
    left: 43%;
}

#button2 {
    border: hidden;
    height: 36px;
    width: 140px;
    position: relative;
    left: 43%;
}

#other-lang {
    text-align: center;
    font-size: 13px;
    padding: 5px;
    padding-left: 10px;
}

#other-lang a {
    color: darkblue;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: lightgray;
    padding-bottom: 10px;
    width: 100%;
}

.footer-left {
    float: left;
    margin-left: 10px;
}

.footer-right {
    float: right;
    margin-right: 10px;
}
